* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  max-width: 80vw;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.header_container {
  margin-bottom: 2.8rem;
}

.header_title {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
}

.header_desc {
  max-width: 568px;
  text-align: center;
  color: rgb(103, 103, 103);
  margin: 0 auto;
}

.main_container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 650px) {
  .main_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {
  .main_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1340px) {
  .main_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card_container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(101, 101, 101); */
  box-shadow: 0px 2px 4px 1px rgb(142, 142, 142);
  border-radius: 5px;
}

.card_image_container {
  position: relative;
  overflow: hidden;
  height: 12rem;
}

.card_image {
  object-fit: cover;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.card_title_container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.card_container:hover .card_image {
  transform: scale(1.4);
  transition-duration: 300ms;
  padding: 1.5rem;
}

.card_title {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(14, 13, 13);
  margin-bottom: 0.3rem;
  line-height: 1.2rem;
}

.card_title_anchor:hover .card_title {
  color: blueviolet;
}

.card_desc {
  color: rgb(137, 137, 137);
  font-size: 1rem;
}

.card_footer_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.author_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.author_avtar_container {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border: 1px solid #9f9f9f;
  background-color: #f4f2f2;
  border-radius: 50%;
}

.author_info_container {
  display: flex;
  margin-left: 0.4rem;
  flex-direction: column;
}

.author_name {
  color: blueviolet;
  font-weight: 700;
}

.author_dob {
  color: #9a9797;
}

.card_tag_container {
  font-size: 0.9rem;
  color: #818080;
  border: 1px solid #9a9797;
  border-radius: 2px;

  margin-right: 0.7rem;
  margin-bottom: 0.95rem;
}
